/*
Leo Schultz

Copyright Cuore Technology 2014

---------------

Table of Contents:

1) Typography
2) Menu
3) Section Headers
4) Intro Section


*/

/* ==== Typography ==== */

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background: #222;
  color: #fff;
}

::selection {
  background: #222;
  color: #fff;
  -webkit-text-stroke-color: #fff;
}

::-moz-selection {
  background: #222;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}

h1 {
  font-size: 56px;
  text-align: center;
  margin-bottom: 35px;
  line-height: 1;
  letter-spacing: -3px;
  }

@media (max-width: 568px) {
  h1 {
    font-size: 46px;
    letter-spacing: -2px;
  }
}

p {
  line-height: 1.2;
}

p.lead {
  font-size: 18px;
  font-weight: 400;
  margin: 15px 0 75px 0;
  line-height: 1.5;
}

a {
  font-size: 14px;
  color: #fff;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}

a:hover {
  color: #999;
  text-decoration: none;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}

ul { padding:0;list-style: none; }

li{
  list-style: none;
}

textarea:focus, input:focus, a:focus, *:focus {
  outline: none;
}

.divider {
  margin: 90px 0;
  border-bottom: 1px dashed #0c0c0c;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

.vert-text img {
  padding: 0;
  margin: 0;
}

.buffer{
  margin-top: 80px;
  margin-bottom: 80px;
}
.top-buffer{
  margin-top: 80px;
}

.sm-top-buffer{
  margin-top: 40px;
}
.sm-bottom-buffer{
  margin-bottom:40px;
}

.sm-buffer{
  margin-top:40px;
  margin-bottom:40px;
}

.bottom-buffer{
  margin-bottom: 80px;
}

.left-buffer{
  margin-left: 50px;
}

.section-pad{
  padding: 40px 0px;
}

blockquote {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

blockquote.pull-right {
  float: none;
}

blockquote:hover {
  border-left: 5px solid #600;
}

blockquote.pull-right:hover {
  border-right: 5px solid #600;
  border-left: none;
}

.toggle {
  margin: 5px 5px 0 0;
}

.row {
  margin: 0;
}

/* Forms */
input.invalid {
      border: 2px solid red;
}

.validation.failed:after {
      color: red;
      content: 'Validation failed';
}

.validation.passed:after {
      color: green;
      content: 'Validation passed';
}

.form-control, .form-control:focus {
  color: #bbb;
  text-align: center;
  border: 0;
  outline: none;
  resize: none;
  background: #333;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

@media (min-width: 768px) {
  .form-group {
    display: inline-block;
  }
}

.form-group, label {
  font-weight: 400;
  text-align: center;
  line-height: 1.2;
}

.honeypot {
  display: none !important;
}

.message {
  display: none;
}

#form-alert {
  text-align: center;
  padding: 5px 15px 5px 15px;
  margin: 15px 0 0 0;
}

form .btn {
  display: inline-block;
  margin: 0;
}

/* Thumbs */
ul.thumbnail{
  list-style-type: none;
}

.thumbnail {
  border: 0;
  padding: 0;
  margin: 15px;
  background-color: none!important;
  text-align: center;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}

.thumbnail, .img-thumbnail {
  background-color: none!important;
}

.thumbnail h4 {
  color: #fff;
  padding: 20px;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  text-transform: none;
  letter-spacing: -1px;
}

.thumbnail span {
  font-size: 13px;
  color: #888;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
}

.thumbnail p {
  padding: 20px;
  margin: 0;
}

/* ==== Menu ==== */

#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.brand {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  display: block;
  max-width: 200px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.btn-menu{
  margin: 10px;
  padding: 10px 20px;
  font-size: 24px;
  line-height: 1.33;
  color: #000;
}

.btn-menu:active{
  color: #fff;
}

.btn-menu:hover{
  color: #fff;
}

.btn-close{
  margin: 5px;
  padding: 10px 10px;
  font-size: 18px;
  line-height: 1.33;
  color: #999;
}

.btn-close:active{
  color: #fff;
}

.btn-close:hover{
  color: #fff;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.submenu{
  padding: 0;
}
.submenu ul{
  margin-bottom: 0;
  list-style-type: none;
  padding: 0;
}
.submenu ul li a{
  display: inline-block;
  padding: 5px 0 5px 15px;
  color: #fff;
}
.submenu ul li a:hover {
text-decoration: none;
color: #555;
}
.submenu-left{
  padding: 0;
  padding: 10px 30px 8px 30px;
  margin: 15px 0px;
}

.submenu-middle{
  color:#fff;
  padding: 20px 30px 8px 30px;
  margin: 15px 0px;
}
.submenu-right{
  padding: 0;
  padding: 10px 30px 8px 30px;
  margin: 15px 0px;
}

.submenu-right i{
  display: inline-block;
  width: 30px;
}

.submenu-block{
  padding: 15px 30px;
  margin: 0;
}
.icon-links {
  list-style-type: none;
  padding: 0 0 15px 2px;
}
.icon-links i {
  display: inline-block;
  width: 30px;
}
.icon-links a {
  color: #000;
}

.icon-links a:hover {
  color: #000;
}

@media (min-width: 992px){
  .submenu-left {
    padding-right: 15px;
  }
  .submenu-right {
    padding-left: 15px;
  }
  .submenu-left-help {
    padding-right: 15px;
  }
  .submenu-right-help {
    padding-left: 15px;
  }
  .submenu-middle-help .col-submit-help{
    padding-left: 0px;
  }
  .submenu-middle .col-submit{
    padding-left: 0px;
  }
}
@media (max-width: 992px){
  .submenu-middle {
    padding-bottom: 10px;
  }
  .submenu-middle-help {
    padding-bottom: 10px;
  }
  .submenu-middle button{
    margin-top: 15px;
  }

}

/* ==== Intro ==== */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../images/home.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.intro {
  padding: 50px 0;
}

.more {
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  margin-bottom: 50px;
  z-index: 2;
  font-size: 72px;
}

.play{
  width: 50px;
}

/* ==== Apps ==== */

#apps i{
  font-size: 64px;
  line-height: 1.2 !important;
}

.wrap {
  position: relative;
  margin: 3em 0;
}

/* Frame */
.frame {
  height: 175px;
  line-height: 175px;
  overflow: hidden;
}
.frame ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 50px;
}
.frame ul li {
  float: left;
  width: 175px;
  height: 100%;
  margin: 0 10px 0 0;
  padding: 0;
  background: #333;
  color: #990000;
  text-align: center;
  cursor: pointer;
}
.frame ul li.active {
  color: #999;
  background: #990000;
}

/* Scrollbar */
.scrollbar {
  margin: 0 0 1em 0;
  height: 2px;
  background: #333;
  line-height: 0;
}
.scrollbar .handle {
  width: 100px;
  height: 100%;
  background: #990000;
  cursor: pointer;
}
.scrollbar .handle .mousearea {
  position: absolute;
  top: -9px;
  left: 0;
  width: 100%;
  height: 20px;
}

/* ==== ALAN ==== */

#suppliers {
  background: #800;
  padding: 90px 0px;
  text-align: center;
}

.alan-logo img{
  width: 40%;
  background: rgba(50, 50, 50, 0.8);
}

/* ==== Hardware ==== */

#hardware {
  background: #000;
  padding: 60px 0px;
  text-align: center;
}

/* Features */

#simple .door-wrapper {
  position: relative;
}

#simple {
    background:#686868;
    min-height:800px;
    color: #000;
}

#simple .simple-column {
  margin-left: 30px;
  position: relative;
}

#simple h1 {
    color: #fff;
    margin-top: 60px;
}

#simple h3, #features h3 {
    font-weight: 700;
    color: #000;
}
#simple p, #features p {
    color: #fff;
}

#simple ul, #features ul {
    list-style-type: none;
    margin: 0px;
}

#simple li, #features li {
    margin-top: 40px;
}

#features {
    background:#d5ddde;
    min-height: 800px;
}

.features-wrapper {
  position: relative;
} 

#simple .simple-image {
  position: absolute;
  right: -123px;
}

#features .features-image {
  position: absolute;
  right: 0;
}

.features-image {
  background: url(../images/features.jpg) no-repeat center center;
  width: 1141px;
  height: 800px;
}

.simple-image {
    background: url(../images/simple.jpg) no-repeat center center;
    width: 953px;
    height: 800px;
}

#features h1 {
    margin-top: 140px;
    color: #fff;
}

/* Share Section */

.social{background-color:#d5ddde}
.social .soc-item{width:33%;float:right}
.social .soc-item a{display:block;height:220px;background-color:#d5ddde;background-position:50% 50%;background-repeat:no-repeat;font-size:22px;position:relative;overflow:hidden;text-decoration:none}
.social .soc-item a span{color:#fff;visibility:hidden;position:absolute}
.social .soc-item a span.name{top:25px;left:25px}
.social .soc-item a span.count{bottom:28px;font-size:28px;left:0;right:0;text-align:center}
.social .soc-item a:hover,.social .soc-item a:focus{text-decoration:none;border-bottom:none}
.social .soc-item a:hover span,.social .soc-item a:focus span{visibility:visible}
.social .soc-item.facebook a{background-image:url(../images/fb.png);background-position-y:74px;border-bottom:none;border-top:1px solid rgba(255,255,255,0.2)}
.social .soc-item.facebook a:hover,.social .soc-item.facebook a:focus{background-color:#016bb6}
.social .soc-item.twitter a{background-image:url(../images/tw.png);background-position-y:84px;border-bottom:none;border-top:1px solid rgba(255,255,255,0.4)}
.social .soc-item.twitter a:hover,.social .soc-item.twitter a:focus{background-color:#08c1e2}
.social .soc-item.google a{background-image:url(../images/gplus.png);background-position-y:75px;border-bottom:none;border-top:1px solid rgba(255,255,255,0.2)}
.social .soc-item.google a:hover,.social .soc-item.google a:focus{background-color:#d94b34}
.social .soc-item-holder{overflow:hidden}
.social .soc-item-holder .soc-item{width:50%}

/* Section Backgrounds */

.section-base {
  color: #ffffff;
  display: table;
  height: 900px;
  width: 100%;
}

.bg-alan{  background: url(../images/entry.jpg) no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
.bg-luscios{  background: url(../images/street.jpg) no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
.bg-una{  background: url(../images/city.jpg) no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
.bg-cep{  background: url(../images/street.jpg) no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}


/* Responsive */

@media (max-width: 768px) {
	
  .header {
	background: url(../images/home.jpg) no-repeat center center scroll; 
  }
  .bg-alan {background: url(../images/entry.jpg) no-repeat center center scroll; }
  .bg-luscios {background: url(../images/street.jpg) no-repeat center center scroll; }
  .bg-una {background: url(../images/city.jpg) no-repeat center center scroll; }
  .bg-cep {background: url(../images/street.jpg) no-repeat center center scroll; }


  .map {
	height: 75%;
  }

}

/* ==== Footer ==== */

footer {
  padding: 100px 0;
}

footer p {
  font-size: 12px;
  color: #aaa;
}
.foot-buffer{
  padding: 10px 0;
}

#footMenu{
  background-color: #999;
}

#footer {
  background-color: #444;
  padding: 0;
}

#footer .copy {
  text-align: left;
}

@media (max-width: 767px) {
  #footer .copy {
    text-align: center;
  }
}

#footer .social {
  text-align: right;
}

@media (max-width: 767px) {
  #footer .social {
    text-align: center;
  }
}

/* Footer Social */

#footer .facebook {
  color: #3B5998;
}

#footer .twitter {
  color: #09C;
}

#footer .google {
  color: #dd4b38;
}

#footer .instagram {
  color: #3F729B;
}

#footer .facebook:hover,
#footer .twitter:hover,
#footer .instagram:hover,
#footer .google:hover {
  opacity: 0.6;
}

/* Top Button */

.go-top {
  position: fixed;
  bottom: 1em;
  right: 1em;
  text-decoration: none;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  font-size: 13px;
  padding: 1em;
}

.go-top:hover {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}

/* Preloader */

#preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999;
  position: fixed;
}

#status {
  width: 400px;
  height: 300px;
  position: absolute;
  left: 45%;
  top: 50%;
  background-image: url(../images/preload.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}

@media (max-width: 1200px) {
#status {
  left: 40%;
}
}

@media (max-width: 768px) {
  #status {
  left: 25%;
}
}